__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
*.venv
.env

user_tasks_*.json

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*

docker-compose.log
*.log

.env.*
!.env.example

.DS_Store
Thumbs.db